[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
flask-cors = "*"
python-dotenv = "*"
requests = "*"
flask-jwt-extended = "*"
pymongo = {extras = ["srv"], version = "*"}
marshmallow = "*"
flask-talisman = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.11"
